## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configgoogle import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Ullal,12.8000,74.8500,76.15,94,75,0.00,IN,mist
1,1,Chuy,-33.6971,-53.4616,48.16,80,0,5.39,UY,clear sky
2,2,Roald,62.5833,6.1333,63.34,77,20,19.57,NO,few clouds
3,3,Port Alfred,-33.5906,26.8910,59.88,26,0,9.40,ZA,clear sky
4,4,Kapaa,22.0752,-159.3190,84.52,76,75,3.00,US,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 89

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Ullal,12.8000,74.8500,76.15,94,75,0.00,IN,mist
4,4,Kapaa,22.0752,-159.3190,84.52,76,75,3.00,US,light rain
14,14,Fukue,32.6881,128.8419,77.81,79,10,12.06,JP,clear sky
17,17,Tabou,4.4230,-7.3528,76.66,83,98,12.19,CI,light rain
27,27,Saquena,-4.6667,-73.5167,85.80,64,46,1.90,PE,scattered clouds
28,28,Kulhudhuffushi,6.6221,73.0700,81.73,79,17,12.08,MV,few clouds
30,30,Albany,42.6001,-73.9662,86.61,62,77,11.25,US,broken clouds
31,31,Butaritari,3.0707,172.7902,83.66,78,65,17.52,KI,light rain
32,32,Buala,-8.1450,159.5921,83.17,78,41,11.27,SB,light rain
33,33,Sao Felix Do Xingu,-6.6447,-51.9950,84.49,40,26,0.58,BR,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                188
City                   188
Lat                    188
Lng                    188
Max Temp               188
Humidity               188
Cloudiness             188
Wind Speed             188
Country                188
Weather Description    188
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# I had no empty rows but because this is a part of the challenge I still used dropna and saved the result in clean df
clean_df= preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Ullal,12.8000,74.8500,76.15,94,75,0.00,IN,mist
4,4,Kapaa,22.0752,-159.3190,84.52,76,75,3.00,US,light rain
14,14,Fukue,32.6881,128.8419,77.81,79,10,12.06,JP,clear sky
17,17,Tabou,4.4230,-7.3528,76.66,83,98,12.19,CI,light rain
27,27,Saquena,-4.6667,-73.5167,85.80,64,46,1.90,PE,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
551,551,Diu,20.7141,70.9822,82.47,83,99,12.57,IN,overcast clouds
552,552,Kloulklubed,7.0419,134.2556,81.79,79,100,13.58,PW,overcast clouds
555,555,Sabang,5.8933,95.3214,81.45,79,9,8.77,ID,clear sky
556,556,Bengkulu,-3.8004,102.2655,76.69,81,76,4.25,ID,broken clouds
558,558,Banda Aceh,5.5577,95.3222,78.01,85,11,6.55,ID,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Ullal,IN,76.15,mist,12.8000,74.8500,
4,Kapaa,US,84.52,light rain,22.0752,-159.3190,
14,Fukue,JP,77.81,clear sky,32.6881,128.8419,
17,Tabou,CI,76.66,light rain,4.4230,-7.3528,
27,Saquena,PE,85.80,scattered clouds,-4.6667,-73.5167,
28,Kulhudhuffushi,MV,81.73,few clouds,6.6221,73.0700,
30,Albany,US,86.61,broken clouds,42.6001,-73.9662,
31,Butaritari,KI,83.66,light rain,3.0707,172.7902,
32,Buala,SB,83.17,light rain,-8.1450,159.5921,
33,Sao Felix Do Xingu,BR,84.49,scattered clouds,-6.6447,-51.9950,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
         }

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Ullal,IN,76.15,mist,12.8000,74.8500,AK INTERNATIONAL LODGE
4,Kapaa,US,84.52,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Fukue,JP,77.81,clear sky,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
17,Tabou,CI,76.66,light rain,4.4230,-7.3528,hotêl doufoulougou
27,Saquena,PE,85.80,scattered clouds,-4.6667,-73.5167,
...,...,...,...,...,...,...,...
551,Diu,IN,82.47,overcast clouds,20.7141,70.9822,Hotel Relax Inn
552,Kloulklubed,PW,81.79,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
555,Sabang,ID,81.45,clear sky,5.8933,95.3214,Hotel Citra
556,Bengkulu,ID,76.69,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
558,Banda Aceh,ID,78.01,few clouds,5.5577,95.3222,Sulthan Hotel International

In [25]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.dropna()
import numpy as np
hotel_df.replace('', np.nan, inplace=True)
hotel_df
hotel_clean_df=hotel_df.dropna()
hotel_clean_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Ullal,IN,76.15,mist,12.8000,74.8500,AK INTERNATIONAL LODGE
4,Kapaa,US,84.52,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Fukue,JP,77.81,clear sky,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
17,Tabou,CI,76.66,light rain,4.4230,-7.3528,hotêl doufoulougou
28,Kulhudhuffushi,MV,81.73,few clouds,6.6221,73.0700,Hondaafushi Island Resort
...,...,...,...,...,...,...,...
551,Diu,IN,82.47,overcast clouds,20.7141,70.9822,Hotel Relax Inn
552,Kloulklubed,PW,81.79,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
555,Sabang,ID,81.45,clear sky,5.8933,95.3214,Hotel Citra
556,Bengkulu,ID,76.69,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
558,Banda Aceh,ID,78.01,few clouds,5.5577,95.3222,Sulthan Hotel International

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_clean_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))